@charset "utf-8";
/* CSS Document */
/* reset-fonts */
html{font-size:62.5%; color:#333333; line-height:20px;-webkit-text-size-adjust:none;}
html {-webkit-text-size-adjust:100%;-ms-text-size-adjust: 100%;}
body{font-family:Microsoft YaHei,arial,helvetica,clean,sans-serif;width:100%; height:100%;  }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
ul li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal;}
q:before,q:after{content:'';}
img {max-width: 100%;height: auto;width: auto\9;}
.video embed, .video object, .video iframe {width: 100%;height: auto;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif; }
table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}




/*clear self*/

.fl{float: left;}
.fr{float: right;}
.ovf{overflow: hidden;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.clear:after { content:''; display:block; clear:both; }

/*basic*/
.left{ float:left;}
.right{ float:right;}
.hidden{ display:none;}
a{ color:#323232; font-weight:normal; text-decoration: none;outline: none;star:expression(this.onFocus=this.blur()); }
a:hover{  color:#0080cc; font-weight:normal; text-decoration:none; cursor:pointer}
img{ font-size:0; line-height:0;border:none;  /* display: block; */}
.a{ color:#323232; text-decoration:none;}
.a:hover{ color:#0080cc; font-weight:normal; text-decoration:underline;}
.hg{ line-height:24px;}
i,em,cite{ font-style:normal;}
























.cd-1{ width:5%; float:left;}
.cd-2{ width:10%; float:left;}
.cd-3{ width:15%; float:left;}
.cd-4{ width:20%; float:left;}
.cd-5{ width:25%; float:left;}
.cd-6{ width:30%; float:left;}
.cd-7{ width:35%; float:left;}
.cd-8{ width:40%; float:left;}
.cd-9{ width:58%; float:left;}
.cd-10{ width:50%; float:left;}
.cd-11{ width:42%; float:left;}
.cd-12{ width:60%; float:left;}
.cd-13{ width:65%; float:left;}
.cd-14{ width:70%; float:left;}
.cd-15{ width:75%; float:left;}
.cd-16{ width:80%; float:left;}
.cd-17{ width:85%; float:left;}
.cd-18{ width:90%; float:left;}
.cd-19{ width:95%; float:left;}
.cd-20{ width:100%;}