body fieldset{border:1px solid #D8D8D8;padding:10px}
body fieldset legend{padding:3px 8px;font-weight:700;border:1px solid #D8D8D8;background-color:#F9F9F9}
body fieldset.blue{border:1px solid #dce3ed}
body fieldset.blue legend{padding:3px 8px;font-weight:700;color:#347add;background:0 0;border:none}
.picBut{background:url(../images/picBnt.png) no-repeat 0 -28px;color:#FFF;float:left;text-align:center;font-weight:700;height:28px;line-height:26px;margin-right:10px;width:75px}
.picBut a{color:#fff;text-decoration:none;width:75px}
.table-list td,.table-list th{padding-left:12px}
.table-list thead th{height:30px;background:#eef3f7;border-bottom:1px solid #d5dfe8;font-weight:400}
.table-list .btn,.table-list tbody td{border-bottom:#eee 1px solid;padding-top:5px;padding-bottom:5px}
div.btn{background:#f6f6f6;padding:6px 12px 0 12px;height:30px;line-height:30px}
.table-list table tbody tr:hover,.table-list tr:hover{background:#fbffe4}
.nHover tr:hover,.nHover tr:hover td{background:0 0}
.table-list .input-text-c{padding:0;height:18px}
.input-text-c{border:1px solid #A7A6AA;height:18px;padding:2px 0 0;text-align:center}
.td-line{border:1px solid #eee}
.td-line td,.td-line th{border:1px solid #eee}
.table-list td.on,.table-list th.on,.table-list tr.on,.table-list tr.on td,.table-list tr.on th{background:#fdf9e5}
a.close-own:hover{background-position:left -46px}
.common-form div.contentWrap{padding-right:20px}
.common-form ul li{color:#444;clear:both;vertical-align:middle}
.common-form ul li span.text{width:60px}
.common-form .set{border:1px dashed #e0e7ed;zoom:1;background:#f2f7fb;padding:10px;font-size:12px;margin-bottom:10px}
.common-form .set table td,.common-form .set table th{padding-left:12px}
.common-form .set table th{font-weight:400;text-align:left;padding:0 8px}
.common-form .set table td{padding:3px 0 3px 5px}
.common-form .set table td.y-bg{background:url(../images/set_y_line.png) repeat-y right top}
.common-form .set table td input{background-image:none;height:18px;font-size:12px}
.input-focus,.input-text,.measure-input,input.date,input.endDate,select,textarea{height:26px;line-height:26px;background-color:#fff;border:1px solid #ccc;border-radius:5px;vertical-align:middle;width:125px;display:inline-block;text-indent:5px;outline:0}
.form-control-table{background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,.075) inset;color:#555;font-size:14px;height:34px;line-height:1.42857;padding:6px 12px;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;width:100%}
.width-80{width:80px}
.width-100{width:100px}
.width-120{width:120px}
.width-160{width:160px}
.input-focus{background:#FFF url(../images/input_focus.png) repeat-x;border-color:#afcee6;font-size:12px}
input.date,input.endDate{background:#fff url(../images/input_date.png) no-repeat right 3px;padding-right:18px;font-size:12px}
textarea,textarea.input-focus,textarea.input-text{font-size:12px;height:auto;padding:5px;margin:0}
.search-form{margin-bottom:10px}
.table_form{font-size:12px}
.table_form td{padding-left:12px}
.table_form td.header{width:80px;color:#646665;font-weight:400;font-size:12px;line-height:26px}
.table_form th{font-weight:400;text-align:right;padding-right:10px;color:#777}
.table_form td label{vertical-align:middle}
.table_form td,.table_form th{padding:8px 0 8px 8px}
.table_form tbody td,.table_form tbody th{border-bottom:1px solid #eee}
.colorpanel tbody td,.colorpanel tbody th{padding:0;border-bottom:none}
.js ul.newList{left:-9999px}
ul.newList *{margin:0;padding:0}
ul.newList{margin:0;padding:0;list-style:none;color:#000;background:#fff;position:absolute;border:1px solid #ccc;top:22px;left:0;overflow:auto;z-index:9999}
.newListSelected span{display:block}
ul.newList li a{padding:3px 8px;display:block;text-decoration:none}
.selectedTxt{overflow:hidden;height:16px;padding:0 23px 0 0}
.hiLite{background:#e0ebf4!important;color:#444!important}
.newListHover{background:#f2f7fb!important;color:#000!important;cursor:default}
.newListSelFocus,.newListSelHover{background-position:right -26px;cursor:default}
.newListOptionTitle{font-weight:700}
.newListOptionTitle ul{margin:3px 0 0}
.newListOptionTitle li{font-weight:400;border-left:1px solid #ccc}
.onCorrect,.onError,.onFocus,.onLoad,.onShow,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;vertical-align:middle;background:url(../images/msg_bg.png) no-repeat;color:#444;line-height:18px;padding:2px 10px 2px 23px;margin-left:10px;height:20px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF}
.onError{background-position:3px -47px;border-color:#40B3FF;color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}
.linkage-menu{height:200px;overflow-y:auto;padding:0 4px}
.linkage-menu h6{border-bottom:1px solid #e2ecee;padding:2px 0 3px;margin-bottom:5px}
.linkage-menu h6 a.rt{font-weight:400;font-family:'å®‹ä½“';color:#377abe}
.linkage-menu div.menu a{width:74px;line-height:22px;text-decoration:none;padding-left:4px;overflow:hidden;height:22px}
.linkage-menu div.menu a:hover{background:#d9e4ed;color:#377abe}
div#areaid{border:1px solid #A7A6AA;height:18px;margin:0 5px 0 0;padding:2px 5px 2px;border:1px solid #d0d0d0;background:#FFF url(../images/input.png) repeat-x;position:relative;top:-2px}
.picList li{padding:0 0 8px}
.display{display:none}
.pageBox .all{float:right;padding:12px 10px 10px}
.istop{margin:0 3px;padding:1px 3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#009237;color:#fff}
.iz_qg{margin:0 3px;padding:1px 3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#f87b11;color:#fff}
.isdelete{background:#cfcfcf;margin:0 3px;padding:1px 3px;border-radius:3px;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px}
.isgreen{background:#24a447;margin:0 3px;padding:1px 3px;border-radius:3px;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px}
.isorange{background:orange;margin:0 3px;padding:1px 3px;border-radius:3px;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px}
.table-center tbody tr td,.table-center thead tr th{text-align:center}
.button{height:26px;font-size:12px;padding:3px 6px}
.pad_10{margin-top:10px;}
